source_up

PATH_add `pwd`/node_modules/.bin

export XDG_CONFIG_HOME=`pwd`/.config
export CLOUDSDK_CONFIG=`pwd`/.config
export GOOGLE_APPLICATION_CREDENTIALS=`pwd`/.config/application_default_credentials.json
export GCLOUD_PROJECT=money-hacker
